* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.lateral a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
    padding: 10px;
    color: #000;
    font-size: 15px;
}

.lateral {
    list-style: none;
    margin-top: 7px;
    position: relative;
    width: 100%;
}

.label-lateral #img {
    width: 45px;
}
.barraLateral input[type="checkbox"] {
    display: none;
}
.barraLateral input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}
.nav-lateral {
    background-color: rgb(246, 246, 246);
    opacity: 0.9;
    z-index: 5;
    top: 97px;
    width: 190px;
    height: 100%;
    left: -350px;
    position: fixed;
    transition: all .5s;
}

.lateral a:hover {
    background-color: rgb(176, 224, 230);
    color: #116dff;
    border-bottom: 0.1px solid rgba(58, 58, 58, 0.288);
}
.label-lateral{
    padding: 22px;
    padding-bottom: 2px;
    position: fixed;
    z-index: 10;
    cursor: pointer;
}
#sair {
    color: rgb(255, 38, 38);
}
#bottom {
    position: absolute;
    bottom: 100px;
}


/*width 930px pra baixo( novo header )*/

@media (max-width: 930px) {
    .nav-lateral {
        top: 0px;
        padding-top: 70px;
        position: fixed;
        height: 100%;
        background-color: rgb(246, 246, 246);
    }
    
    .lateral a {
        font-size: 12px;
    }
    #bottom {
        position: static;
        margin-top: 0px;
        background-color: rgb(246, 246, 246);
    }
    .lateral {
        background-color: rgb(246, 246, 246);
    }
}
@media (max-height: 429px) {
    .nav-lateral {
        width: 120px;
        
    }
    .lateral a {
        font-size: 8px;
        padding: 5px;
    }
}

@media (max-width : 500px) {
    .nav-lateral {
        width: 100px;
        padding-top: 80px;
        
    }
    .lateral a {
        font-size: 8px;
        padding: 2px;
    }
}
