* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
li, a, button {
    font-family: "Montserrant", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf8f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 10%;
}
.logo {
    cursor: pointer;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 28px;
}
.nav-links li, a {
 transition: all 0.3s ease 0.1s;
}
.nav-links li, a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}