* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.detalhe {
    background-color: rgb(250, 250, 250);
    display: flex;
    width: 100%;
    justify-content: center;
}

.bunner {
    display: flex;
    background-color: rgb(250, 250, 250);
    position: relative;
}

.bunner img {
    width: 720px;
    height: auto;
    max-width: 400px;
    min-width: 400px;
}

.detalhe-vaga {
    background-color: rgb(250, 250, 250);
    height: auto;
    width: 700px;
}

.title {
    width: 80%;
    margin-bottom: 20px;
    font-size: 25px;
}

.Info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.disponivel {
    background-color: rgba(6, 214, 6, 0.863);
    padding: 2px;
}

.bold {
    font-weight: 600;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 5px;
    background-color: #116dff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

.button:hover {
    background-color: #3c87ff;
}



/*------------*/

.perfil-vaga {
    margin-top: 70px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.detalhe-body {
    background-color: rgb(250, 250, 250);
    width: 100%;
    line-height: 1.5;
}

.infVaga ul {
    list-style: none;
}

.infVaga h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.infVaga {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 20px;
    line-height: 1.5;
}

.infVaga2 {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
}

.infVaga p {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
}

.infVaga ul {
    list-style-type: none;
}

.ex {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.836);
}

.inf-empresa {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
    line-height: 1.5;
}

.inf-basic h2 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.836);
    padding: 20px;
}

.inf-basic a {
    font-size: 30px;
    padding: 20px;
}

.inf-basic p {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 20px;
}

.apresentacao {
    display: flex;
}

.status {
    width: 50%;
    margin-right: 20px;
}

.all-Info {
    padding: 20px;
    height: auto;
    width: 120%;
    margin-top: 15px;
}

/*  MODAL  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-modal {
    padding: 1rem;
}

.title-modal {
    margin-bottom: 1rem;
}

.modal-button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
}

.cancel-modal {}

#open-modal {
    background-color: #116dff;
}

#open-modal:hover {
    background-color: #3c87ff;
}

.modal-button:hover {
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}
.modal-body {
    display: flex;
    padding: 10px;
    justify-content: center;
}