* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.detalhe {
    background-color: rgb(250, 250, 250);
    display: flex;
    width: 100%;
    justify-content: center;
}

.bunner {
    display: flex;
    width: 50%;
    background-color: rgb(250, 250, 250);
    position: relative;
}

.bunner img {
    width: 400px;
    max-height: 400px;
    padding: 15px;
}

.detalhe-vaga {
    background-color: rgb(250, 250, 250);
    height: auto;
    width: 50%;
}

.title {
    width: 80%;
    margin-bottom: 20px;
    font-size: 35px;
    display: grid;
    justify-content: center;
}

.Info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.disponivel {
    background-color: rgba(0, 255, 0, 0.774);
    padding: 2px;
}

.bold {
    font-weight: 600;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 5px;
    background-color: #116dff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

.button:hover {
    background-color: #3c87ff;
}



/*------------*/

.perfil-vaga {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.detalhe-body {
    background-color: rgb(250, 250, 250);
    width: 100%;
    line-height: 1.5;
}

.infVaga ul {
    list-style: none;
}

.infVaga h2 {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.infVaga {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 20px;
    line-height: 1.5;
}

.infVaga2 {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
}

.infVaga p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
}

.infVaga ul {
    list-style-type: none;
}

.ex {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.836);
}

.inf-empresa {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 20px;
    line-height: 1.5;
}

.inf-basic h2 {
    font-size: 25px;
    color: black;
    padding: 20px;
}


.empresa-name:hover, .inf-basic p:hover {
    color: #116dff;
}


.inf-basic a {
    font-size: 30px;
    padding: 20px;
}

.inf-basic p {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 20px;
    
    color: black;
}





.apresentacao {
    width: 80%;
    display: flex;
}

.status {
    width: 50%;
    margin-right: 20px;
}

.status span {
    font-size: 17px;
}

.all-Info {
    padding: 20px;
    height: auto;
    width: 120%;
    margin-top: 15px;
}

.separ {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
}



/*  MODAL  */


.body-modal {
    padding: 1rem;
}

.title-modal {
    margin-bottom: 1rem;
}

.modal-button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 20px;
}

#open-modal {
    background-color: #116dff;
}

#open-modal:hover {
    background-color: #3c87ff;
}

.modal-button:hover {
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

.modal-body {
    display: flex;
    padding: 10px;
    justify-content: center;
}

@media (max-width: 1200px) {

    .apresentacao {
        display: grid;
        justify-content: center;
    }

    .body-modal {
        display: grid;
        padding: 1rem;
        justify-content: center;
    }

    .status {
        width: 100%;
    }

    .bunner img {
        display: block;
    }


}

@media (max-width: 1000px) { 

    .title {
        font-size: 25px;
    }
}

@media (max-width: 922px) {

    .detalhe {
        display: block;
        width: 100%;
    }

    .detalhe-vaga {
        width: 100%;
    }

    .bunner {
        display: grid;
        justify-content: center;
        width: 100%;
    }

    .bunner img {
        display: grid;
        width: 100%;
    }

    .infVaga {
        width: 100%;
    }

    .infVaga2 {
        width: 95%;
    }
}