* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.title {
    padding: 40px;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

.especificacao-vaga {
    display: flex;
}

.vagas-container {
    width: 75%;

}

.vagas-block {
    margin-bottom: 100px;
}

.vagas-box {
    border-top-right-radius: 40px;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 20px;
    margin-left: 50px;
    margin-right: 5%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(202, 202, 202);
    justify-content: start;
}
.vagas-box:hover{
    transform: scale(1.008);
}

.vagas span {
    color: rgba(0, 0, 0, 0.719);
}

.vaga-box {
    display: inline;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 25px;
}

.vaga-name h3 {
    font-size: 20px;
}

.vaga-name h4 {
    font-size: 17px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 20px;
}

.abaixo {
    color: black;
}

.descricao {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    text-align: start;
}


.baixo {
    display: flex;
    justify-content: space-between;
}

.baixo img {
    height: 20px;
}

.vagas {
    margin-bottom: 30px;
}

.pesquisa-container {
    display: flex;
    width: 25%;
    min-height: 800px;
    background-color: rgb(248, 246, 246);
}


.funil {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.search {
    height: 25px;
    width: 100%;
    background-color: rgb(248, 246, 246);
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
}

.lista {
    border-radius: 20px;
}

.lista li {
    border: 1px solid rgba(226, 226, 226, 0.473);
    background-color: rgb(243, 243, 243);
    line-height: 2rem;
    width: auto;
    height: auto;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}