* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.img {
    width: 600px;
    height: 400px;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(209, 209, 209);
    margin-left: auto;
    margin-right: auto;
    
}

.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 200px;
    opacity: 0.3;

    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;    
}

.body {
    background-color: rgb(246, 246, 246);
    width: 900px;
    height: 800px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.body-down {
    display: flex;
    height: 350px;
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
}
.update {
    width: 30%;
    padding: 10px;
    line-height: 2.5;
}
#edit {
    border-bottom: 2px solid;
    width: 150px;
}
.historia {
    border-left: 1px dashed;
    width: 70%;
    padding: 10px;
}
.perfil-candidato img {
    width: 25px;

}