/*  Header for all Pages  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

li,
a,
button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    margin-top: 23px;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: rgb(246, 246, 246);
    opacity: 0.9;
}

.fixo {
    position: fixed;
    display: inline-block;
    top: 0%;
    height: 30px;
    z-index: 5;
    width: 100%;
}

.ator-nav {
    display: flex;
}

.ator-ul {
    display: flex;
    list-style: none;
    justify-content: flex-end !important;
    width: 40%;
    height: 30px;
    align-items: center;
}

.ator-ul li {
    margin-left: 40px;
    margin-top: 4.5px;
}

.emp {
    margin-right: 10%;
}

.login-usuario {
    height: 20px;
}

.login-empresa {
    height: 20px;
}

.header-nav {
    color: #000;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.botao {
    width: 10%;
    display: inline-block;
    padding-right: 15px;
}


.parte-branca {
    position: static;
    display: grid;
    width: 100%;
    height: 90px;
    margin-top: 30px;
    background-color: rgb(246, 246, 246);
}

.headerLink {
    list-style: none;
}
.headerLink li:hover{ 
    transform: scale(1.05); 
}
.headerLink li {
    display: inline-block;
    padding: 0px 15px;
}

.headerLink li,
a {
    transition: all 0.3s ease 0.1s;
}

.headerLink li,
a:hover {
    color: #3c87ff;
}

button {
    padding: 12px 30px;
    background-color: #116dff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

button:hover {
    background-color: #3c87ff;
}



/*-----Search------*/

.caixa-search {

    font-size: 18px;
    display: flex;
    width: 60%;
    border: none;
    justify-content: right;
    height: 30px;
    align-items: center;
}

.caixa-texto {
    background-color: rgb(243, 243, 243);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    width: 300px;
    padding: 3px;
}

.botao-search {
    margin: 5px;
}


/*width 930px pra baixo( novo header )*/


.barraLateral {
    display: block;
}

@media (min-width: 8000px) {
    .responsBarMenu {
        display: none;
    }

    .header {
        display: block;
    }
    

}

@media (max-width: 1000px) {
    .header {
        display: none;
    }
    .botao {
        display: block;
    }
    

}
@media (max-width: 724px) {
   .ator-ul a {
    font-size: 15px;
   }
    
}