body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.caixa-search {
  position: fixed;
  top: 50%;
  right: 50%;
  background-color: #333;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.caixa-search:hover > .caixa-texto {
  width: 240px;
  padding: 0 6px;
}

.caixa-search:hover > .botao-search {
  background-color: #fff;
  margin-left: 3px;
}

.botao-search {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: 0.4s;
}

.caixa-texto {
  border: none;
  background-color: #333;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  cursor: pointer;
}