* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    position: absolute;
    height: 300px;
    width: 600px;
    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.8s;
  }
  
  .show {
    opacity: 1;
  }
