* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

form {
    font-size: 18px;
    display: block;
    width: 600px;
    height: auto;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 20px;

}

.box {
    padding: 15px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.box-cadastro {
    text-align: end;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.box-cadastro a {
    text-decoration: none;
    color: #116dff;
}

.box-cadastro a:hover {
    color: #3c87ff;
}


.box h2 {
    text-align: center;
    padding: 8px;
    font-size: 40px;
}

.box p {
    text-align: center;
    padding: 8px;
    font-size: 17px;
}

.inputs {
    margin-top: 50px;
}

.button {
    margin-top: 25px;
}

.inputs label {
    margin-left: 15%; 
}

.box input {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 14%;
    background-color: rgba(214, 214, 214, 0.575);
    width: 360px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.089);
}

.box input:focus {
    background-color: rgb(214, 214, 214);
}

.button input {
    height: 40px;
    background-color: #116dff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

.button input:hover {
    background-color: #3c87ff;
}

@media (max-width: 700px) {
    form {
        width: 500px;
        height: auto;
    }

    .inputs label {
        margin-left: 9%; 
    }
    
    .box input {
        margin-left: 7%;
    }
    .box h2 {
        font-size: 30px;
    }
    
}
@media (max-width: 550px) {
    form {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .inputs label {
        margin-left: 9%; 
    }
    
    .box input {
        width: 80%;
        margin-left: 9%;
    }
    .box h2 {
        font-size: 25px;
    }
    
}